.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
}

@media (min-width: 769px) {
  .users {
    width: 30vw;
  }
}

canvas.chartjs-render-monitor {
  min-width: 500px !important;
}
