.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .options {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      .welcome-msg {
        padding-right: 20px;
      }
    }
  }
}
