body {
  font-family: 'Arial';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
table {
  width: 80%;
}

table.topPages {
  width: 70vw;
}
@media (min-width: 769px) {
  table.topPages {
    width: 15vw;
  }
}

table tr {
  line-height: 2rem;
}

td,
th {
  text-align: left;
}

td:nth-child(2),
th:nth-child(2) {
  text-align: right;
}

.barChart {
  width: 70vw;
}
@media (min-width: 769px) {
  .barChart {
    width: 50vw;
  }
}

@media (min-width: 1250px) {
  .barChart {
    width: 50vw;
  }
}
