body {
  font-family: 'Arial';
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

table {
  width: 80%;
}

table.topPages {
  width: 150%;
}

table tr {
  line-height: 2rem;
}

td,
th {
  text-align: left;
}

td:nth-child(2),
th:nth-child(2) {
  text-align: right;
}

.barChart {
  width: 50vw;
}
